/* PC */
@media (min-width: 1024px) {
    
}

/* tablet */
@media (min-width: 740px) and (max-width:1023px) {
    .contact-info {
        line-height: 2.0;
    }

    .contact-info a{
        color: #0000ef;
        opacity: 1;
    }

    .contact-info a:hover{
        opacity: 0.6;
    }
}
    
/* tablet & mobile */
@media (max-width:1023px) {
   .btn {
       padding: 15px 16px;
   }

   .contact-form .form-control {
       padding: 15px;
   }

   #footer .socials-list i {
        font-size: 30px;
        
   }

   #footer .socials-list a {
    margin: 0px 3px;
    
}
    #footer .copyright a {
        padding: 12px 0px;
        display: inline-block;
    }
    #nav .subnav a {
        padding: 5px 16px;
    }
    

}


/* mobile */
@media (max-width: 740px) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }
    
    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header .mobile-menu-btn {
         display: block;
    }
    
    #header .search-btn {
        display: none;
    }
    
    #header {
        overflow: hidden;
    }
    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #content .member-img {
        width: 50%;
    }

    .contact-form {
        margin-top: 32px;
    }
    
    
}
    

