* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}
/* Common */
.text-white {
    color: #fff !important;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.clear {
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px!important;
}

.mt-32 {
    margin-top: 32px!important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.btn {
    padding: 11px 16px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: none;
    border: none;
}

.btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.pull-right {
    float: right !important;
}

/* Main */
#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 46px;
    background-color: #000;
    z-index: 1;
    
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li:hover .subnav {
    display: block;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    display: block;
    padding: 0 24px;
   
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    top: 100%;
    left: 0;
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#nav .nav-arrow-down  {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    line-height: 46px;
    padding: 0 23px;
    
}
#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: red;
} 


#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#slider {
    width: 100%;
    min-height: 400px;
    background-repeat: no-repeat;
    padding-top: 50%;
    margin-top: 46px;
    background: url(/assets/img/slider/Slider1.jpg) top center / cover no-repeat;
    position: relative;
}
#nav {
    display: inline-block;
}

.text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    text-align: center;

    /* Căn giữa chữ  */
    /* C1 
    transform: translateX(-50%);
    left: 50%; */

    /* C2
    left: 0;
    right: 0; */

    width:100%;
    

}
.text-heading {
    font-weight: 500;
    font-size: 24px;

}
.text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    padding: 23px 0;
    text-align: center;
    font-style: italic;
    /* margin-top: 25px; */
    /* 0.6 là 60% độ mờ của chữ */
    opacity: 0.6;
    
}

#content .about-text {
    text-align: justify;
    /* margin-top: 25px; */
    /* line-height: thay đổi chiều cao của cái box 1.4 cho tiếng anh, 1.6 cho tiếng việt */
    line-height: 1.4;
}

.member-list {
    margin-top: 32px;
    /* overflow: hidden; */
}



#content .member-name {
    font-family: sans-serif
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img {
    border-radius: 5px;
    height: 140px;
}

#content {

}

/* Tour section */
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 15px;
}

.tickets-list li {
    font-size: 15px;
    padding: 8px 16px;
    list-style: none;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .Sold-out {
    padding: 3px 4px;
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
}

.tickets-list .quatity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

/* Places */
.places-list {
    margin-top: 16px;
    
}

.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
    cursor: pointer;

}

.place-body {
    font-family: sans-serif;
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading {
    
    font-size: 15px;
    font-weight: 600px;
}
.place-time {
    margin: 15px 0px;
    color: #757575;
}
.place-desc {
    margin: 15px 0px;
    line-height: 1.4;
    font-weight: 400px;
    color: #000;
}


/* Contact form */
.contact-content {
    margin-top: 25px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="fa-solid"] {
    width: 30px;
    
}

.contact-form {
    font-size: 15px;
}



.contact-form .form-control  {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}




.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.5s;
}

header.modal-header {
    height: 130px;
    background: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    padding: 16px;
    color: #fff;
}

.modal-close {
    opacity: 0.8;
    cursor: pointer;
}

.modal-input {
    
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 24px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

#buy-tickets {
    width: 100%;
    background-color: #009688;
    border: none;
    padding: 18px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

#buy-tickets:hover {
    opacity: 0.9;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
    
}
.modal-footer a {
    color: #2196F3;
}

.modal.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Map section */
.map-section img{
    width: 100%;
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
    color: #000;
    background-color: #f1f1f1;
}

#footer .socials-list { 
    font-size: 24px;
}

#footer .socials-list a { 
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover,
#footer .socials-list a:hover { 
    color: rgba(0, 0, 0, 0.3);
}

.copyright {
    padding: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
    
}
